<!DOCTYPE html>
<html>

<head>
    <title>Bugjang-Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css,npm/toastr@2.1.4/build/toastr.min.css">
</head>

<body class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div id="bugjangStatus">
                                <div class="p-md-4 p-3" v-if="!loading">
                                    <div v-if="checkApiAlive" class="row m-0 mt-2">
                                        <div class="col-md-4" v-for="service in servicesList">
                                            <div v-for="(status, sName, _) in service">
                                                <div v-bind:class="styleMap[status]">
                                                    <div class="card-body">{{ sName }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else class="row m-0 mt-2">
                                        <div class="col-md-12 text-center">
                                            <h4>
                                                Unable to get status from <a target="_blank" href="https://status.mojang.com/check">Mojang API</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="text-center copyright"><a target="_blank" href="">Bugjang-Status</a> © 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://cdn.jsdelivr.net/combine/npm/axios@0.19.2/dist/axios.min.js,npm/vue@2.6.11/dist/vue.min.js,npm/jquery@3.5.1,npm/bootstrap@4.5.0,npm/popper.js@1.16.1,npm/toastr@2.1.4/build/toastr.min.js"></script>
    <script src="./index.js"></script>
</body>

</html>